body {
  min-width: 320px;
  max-width: 1280px;
  color: #ffffff;
}
.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: "Inter";
  background-color: #2a2c2f;
}
.header {
  display: flex;
  max-width: 1184px;
  max-height: 52px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 56px;
  justify-content: space-between;
  font-family: "Inter";
}
.header__logo {
  max-width: 176px;
  height: 52px;
}

.header__lang-link {
  display: flex;
  align-items: center;
}
.header__lang-link a {
  max-width: 29px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #ffffff;
}
.header__lang-link a:first-child {
  margin-right: 18px;
}

.lead {
  font-family: "Inter";
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  height: 1005px;
}
.lead__title {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  max-width: 720px;
  height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
.lead__subtitle {
  max-width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  align-self: center;
  margin-top: 32px;
  margin-bottom: 64px;
}
.lead__image {
  width: 100%;
  height: 615px;
  object-fit: contain;
}
.lead__caption {
  margin: 0;
  margin-top: 8px;
  max-width: 100%;
  height: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  max-width: 690px;
  height: 429px;
  font-family: "Inter";
  margin-left: 148px;
  margin-right: auto;
}

.intro__title {
  margin-top: 92px;
  margin-bottom: 0;
  max-width: 100%;
  height: 58px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  margin-top: 40px;
  margin-bottom: 0;
  max-width: 100%;
  height: 208px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}
.intro__list {
    margin-top: 0;
  padding: 0;
  padding-top: 33px;
  max-width: 100%;
  height: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 48px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .intro__title {
    max-width: 720px;
   
  }
  .intro__text {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
  }
  .header__lang-link a {
    max-width: 22px;
    height: 20px;
  }
  .header__logo {
    max-width: 142px;
    height: 42px;
  }
  .lead__title {
    max-width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
