.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-auto-flow: row;
    column-gap: 40px;
    row-gap: 48px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media (max-width: 666px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    .place {
        row-gap: 32px;
    }
}
